<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>
      Back to dashboard
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Edit Settings
  </div>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="form-check">
        <label class="form-check-label mx-3 px-3" for="allowRegistration">Allow Registration</label>
        <input class="form-check-input" type="checkbox" name="allowRegistration" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !settings.allowRegistration" id="allowRegistration">
      </div>
      <div class="form-check">
        <label class="form-check-label mx-3 px-3" for="disableBalanceOnAdd">Disable Balance On Add</label>
        <input class="form-check-input" type="checkbox" name="disableBalanceOnAdd" [checked]="settings.disableBalanceOnAdd" (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd" id="disableBalanceOnAdd">
      </div>
      <div class="form-check">
        <label class="form-check-label mx-3 px-3" for="disableBalanceOnEdit">Disable Balance On Edit</label>
        <input class="form-check-input" type="checkbox" name="disableBalanceOnEdit" [checked]="settings.disableBalanceOnEdit" (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit" id="disableBalanceOnEdit">
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>
